<div id="hero-select" class="col-md-4">
  <div class="player-option">
    <div class="character-name">
      <h3>{{name}}</h3>
    </div>
    <div class="character-type">
      <h5>{{class}}</h5>
    </div>
    <div class="character-stats">
      <div class="health-stat">
        {{health}}
      </div>
      <div class="power-stat">
        {{power}}
      </div>
      <div class="defense-stat">
        {{defense}}
      </div>
      <div class="speed-stat">
        {{speed}}
      </div>
    </div>
    <div class="equipment">
      {{equipment}}
    </div>
  </div>
</div>
